@import "src/assets/style/variables";

.platform {
  border-radius: 10px;
  background: $backgroundBlock;

  &__container {
    padding: 9px 13px;
	 display: flex;
	 justify-content: space-between;
	 gap: 10px;
  }

  &__row {
  }

  &__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	gap: 10px;
  }

  &__sub-text {
  }

  &__name-platform {
    font-weight: 700;
    font-size: 17px;
	 word-break: break-word;
	 overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__img {
	flex: 0 0 70px;
	height: 70px;
	img{
		width: 100%;
		height: 100%;
		border-radius: 5px;
		object-fit: cover;
	}
  }
}
.text-yellow {
}
