.access-recovery {
  padding-top: 50px;
  &__button {
    margin: 0 auto;
    min-width: 112px;
  }
}

.recovery-email {
  margin: 50px 0 35px 0;

  &__title {
    margin: 0 0 23px 0;
  }

  &__field {
    margin: 0 0 8px 0;
    &.error {
      color: #ff0000;
    }
  }
  &__error {
    color: #ff0000;
    font-size: 10px;
  }
}

.recovery-password {
  padding-top: 50px;
  &__title {
    margin: 0 0 32px 0;
  }
  &__field {
     margin: 0 0 30px 0; 
    
  }
  &__error{
    color: red;
    display: inline-block;
    position: absolute;
    bottom: 69px;
    left: 16px;
    font-size: 10px;
  }
}
