.profile-member-page {
  padding-top: 50px;

  @media(max-width: 500px) {
    padding-top: 100px;
  }

  &__block {
    padding: 26px 0;

    &:nth-child(2) {
      border-bottom: 1px solid #202020;
    }

    &:nth-child(3) {
      border-bottom: 1px solid #202020;
    }
  }
}