@import "src/assets/style/variables";

.header-two {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: auto;
    padding-top: 50px;
  }

  @media (max-width: 500px) {
    width: auto;
    padding-top: 50px;
  }
}