@import "src/assets/style/variables";

.header-two {
  display: flex;
  width: 1095px;
  margin: 0 auto;
  padding-top: 100px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    width: 690px;
  }

  @media (max-width: 500px) {
    width: 344px;
  }
}